.sot{
    margin-bottom: 70px;
}
.sot__list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-left: 30px;
}
.sot__btn{
    width: 100%;
    padding: 5px 0;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
.sot__title{
    margin-bottom: 20px;
}